header {
    line-height: 150%;
    color: #ababab;
    background-color: #111891;
    padding: 30px;
    text-align: center;
    font-size: 54px;
}

h2 {
    color: #816969;
    background-color: #2497da;
    padding: 5px;
    text-align: center;
    font-size: 24px;
}
container {
    background-image: url("../images/psychic-img.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 50%;
 }

 p {
     /* color: white; */
     font-size: 22px;
 }